.header{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100px;

    background-color: #311c01;
    color: #ffe5b4;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 100%;
}